/* Write your CSS code here */
.home {
  font-family: 'Roboto';
  padding: 10px;
}

.heading {
  font-size: 40px;
}
.para {
  color: #475569;
}
.content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.shop-btn {
   background-color: #0b69ff;
   border-width: 0;
   color:#ffffff;
   height:40px;
   width:110px;
   font-size: 15px;
   border-radius: 5px;
}
